*{
  /* background-color: rgb(76, 7, 141); */
  padding: 0;
  margin: 0;
}
body{
  background-image: url('body.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.App {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 60px;
  min-height: 100px;
  border: 10px solid ;
  border-radius: 25px;
  padding: 10px;
  background-image: url('backgr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 5px 5px #685656;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0c16199b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dice{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.firstDice{
  font-size: 90px;
  
}

.App .wallet{
  position: absolute;
  top: 15%;
  right: 10%;
  font-size: 30px;
  font-weight: 700;
  border: 5px solid black;
  width: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 3px #262323;
  
}
.totalMoney{
  /* width: 90px;
  height: 20px; */
  text-align: center;
  font-size: 26px;
  border: 4px solid black;
  border-radius: 7px;
  font-weight: 500;
}
.firstDice i{
  color: black;
}
.secondDice{
  font-size: 90px;
}
.condition{
 
 
 padding: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px #685656;
  background-color: rgba(203, 75, 199, 0.333);
 
}
.amount{
  font-size: 24px;
  font-weight: 500;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
.btn{
  min-width: 100px;
  cursor: pointer;
  border: 5px solid black;
  border-radius: 10px;
  margin: 20px;
  font-size: 22px;
  font-weight: 700;
  background-color: rgb(12, 8, 8);
  color: white;
}
/* .btn:hover{
  background-color: red;
} */
.inputvalue{
  width: 80px;
  height: 30px;
  font-size: 22px;
  font-weight: 500;
}
span{
 
}
.condition div input{
 
}
.checkbox{
  size: 30px;
}
input[type=radio] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  accent-color: black;
  cursor: pointer;
}
button{
  box-shadow: 1px 1px 5px 5px #685656;
}